/*
    Author     : Huiguang Liang
*/

/* font imports */
@import 'https://fonts.googleapis.com/css?family=Montserrat:400,700';
@import 'https://fonts.googleapis.com/css?family=Raleway:400,700';
@import 'https://fonts.googleapis.com/css?family=Inconsolata:400,700&subset=latin-ext';
@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&subset=latin-ext';
@import "header.css";
@import "main-body.css";

html {
    display: flex;
    justify-content: center;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1024px;
    min-width: 800px;
}
